<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Kindle Clock</name>
        <version>1.0</version>
        <author>laisrast</author>
        <id>kclock</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>